/* 装飾 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-feature-settings: "pkna";
}

[role="tablist"] {
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0 1px;
}

button {
  appearance: none;

  padding: 10px 20px;
  margin: 0;
  border: none;
  background: lightgray;
  cursor: pointer;
}

[role="tabpanel"] {
  border: 1px solid lightgray;
  padding: 2rem;
  max-width: 480px;
  line-height: 175%;
}

/* UI制御のための指定 */
[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}

[aria-selected="true"] {
  background-color: royalblue;
  color: white;
}
